M2_CW_Venv/
.DS_Store
*/__pycache__
trained_model_save/
venvs/

 # Sphinx build output
docs/_build/
docs/.doctrees/
docs/.sphinx/
docs/Makefile
docs/make.bat

# Build directories
build/
dist/
*.egg-info/
*.egg